*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }

/* .container-wrapper{
    display: flex;
    flex-direction: row;
} */
.container {
    
    width: 40%;
    top: 20%;
    left: 25%;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    padding: 10px;
}

h3{
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

#newtask{
    position: relative;
    margin-bottom: 20px;
}
#newtask .input-area{
    width: 100%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    margin-top: 20px;
}

#newtask .input-area:focus{
    outline: none;
    border-color: #0d75ec;
}

#push {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 16px;
    /* background-color: #0d75ec; */
    border: 4px solid black;
    /* color: #ffffff; */
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: #CF2323;
  }
  
